* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ball-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #084991;
}

.ball {
  --animation-duration: 3s;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation-duration: var(--animation-duration);
  animation-name: bounce;
}

.ball:nth-child(1) {
  --animation-duration: 3s;
  top: 55%;
  left: 25%;
  background-color: #ed9d20;
}

.ball:nth-child(2) {
  --animation-duration: 2.5s;
  top: 80%;
  left: 35%;
  background-color: #ed7220;
}

.ball:nth-child(3) {
  --animation-duration: 3.2s;
  top: 75%;
  left: 45%;
  background-color: #ef5416;
}

.ball:nth-child(4) {
  --animation-duration: 2.2s;
  top: 80%;
  left: 55%;
  background-color: #ea4221;
}

.ball:nth-child(5) {
  --animation-duration: 3.5s;
  top: 60%;
  left: 65%;
  background-color: #ea2127;
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-550px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  75% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  85% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@media (max-width: 1000px) {
  .ball {
    width: 150px;
    height: 150px;
  }
  .ball:nth-child(1) {
    --animation-duration: 3s;
    top: 70%;
    left: 20%;
    background-color: #ed9d20;
  }

  .ball:nth-child(2) {
    --animation-duration: 2.5s;
    top: 80%;
    left: 35%;
    background-color: #ed7220;
  }

  .ball:nth-child(3) {
    --animation-duration: 3.2s;
    top: 75%;
    left: 50%;
    background-color: #ef5416;
  }

  .ball:nth-child(4) {
    --animation-duration: 2.2s;
    top: 80%;
    left: 65%;
    background-color: #ea4221;
  }

  .ball:nth-child(5) {
    --animation-duration: 3.5s;
    top: 78%;
    left: 80%;
    background-color: #ea2127;
  }
}
